
.vs/TeamContent/DesignTimeBuild/.dtbcache.v2
.vs/VSWorkspaceState.json
.vs/TeamContent/v17/.wsuo
.vs/TeamContent/v17/.suo
.vs/TeamContent/FileContentIndex/read.lock
.vs/TeamContent/FileContentIndex/d9c24643-1a20-4540-9d82-9e05e3b32d88.vsidx
.vs/TeamContent/FileContentIndex/9644eb86-9e5f-41bd-8576-941c9b9242e6.vsidx
.vs/TeamContent/FileContentIndex/42e4667a-5305-40fe-850a-4a6283add6a1.vsidx
.vs/TeamContent/FileContentIndex/3bfe2479-42ff-4b1e-a831-f954580a2ed7.vsidx
.vs/TeamContent/FileContentIndex/220565d7-ebdb-41c4-ab10-a98b51a650d9.vsidx
.vs/TeamContent/DesignTimeBuild/.dtbcache.v2
.vs/TeamContent/DesignTimeBuild/.dtbcache.v2
.vs/TeamContent/FileContentIndex/3bfe2479-42ff-4b1e-a831-f954580a2ed7.vsidx
.vs/TeamContent/FileContentIndex/42e4667a-5305-40fe-850a-4a6283add6a1.vsidx
.vs/TeamContent/FileContentIndex/4d794cd7-be7c-440f-a773-7292d3575e72.vsidx
.vs/TeamContent/FileContentIndex/c776ea2c-b863-4278-ab5f-256dd203928e.vsidx
.vs/TeamContent/FileContentIndex/d9c24643-1a20-4540-9d82-9e05e3b32d88.vsidx
.vs/TeamContent/FileContentIndex/read.lock
.vs/TeamContent/FileContentIndex/42e4667a-5305-40fe-850a-4a6283add6a1.vsidx
.vs/TeamContent/FileContentIndex/42e4667a-5305-40fe-850a-4a6283add6a1.vsidx
.vs/TeamContent/FileContentIndex/9644eb86-9e5f-41bd-8576-941c9b9242e6.vsidx
.vs/VSWorkspaceState.json
.vs/TeamContent/v17/.wsuo
.vs/TeamContent/FileContentIndex/read.lock
.vs/TeamContent/FileContentIndex/f7830073-b107-419b-af9f-f9204ffa8580.vsidx
.vs/TeamContent/FileContentIndex/9644eb86-9e5f-41bd-8576-941c9b9242e6.vsidx
.vs/TeamContent/FileContentIndex/8cf8c964-9f57-4555-bb90-d45d819f4dff.vsidx
.vs/TeamContent/FileContentIndex/9644eb86-9e5f-41bd-8576-941c9b9242e6.vsidx
.vs/TeamContent/FileContentIndex/42e4667a-5305-40fe-850a-4a6283add6a1.vsidx
/.vs
