body {
}

.mainDiv {
    text-align: center;
}

.innerDivs {
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}

.menuLink {
    text-decoration: none;
    color: black;
}

.pageTitle {
    text-align: center;
}
