body {
    background-color: #fff;
    color: #000;
}

h1, h2, h3 {
    color: #000;
}

.menuLink {
    text-decoration: none;
    color: black;
}

a {
    color: #007bff;
}

.btn {
    background-color: #007bff;
    color: #fff;
}

.usersName {
    text-align: center;
}

.proPic {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.aboutMe {
    text-align: center;
}

.aboutMeTitle {
    text-align: center;
}

.allUsers {

}
    .btn:hover {
        background-color: #0056b3;
    }
